#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=Deckify (Default Setup)
GenericName=Setup Launcher
Comment=A launcher for the default session
Icon=/opt/steamos-session/assets/icons/steamos-session-icon.png
TryExec=/opt/steamos-session/modules/session-deckify
Exec=/opt/steamos-session/modules/session-normal
Terminal=false
Categories=System;
StartupWMClass=session-normal
