[Desktop Entry]
Type=Application
Version=1.0
Name=Default Session
GenericName=Session Launcher
Comment=A launcher for the default session
Icon=/opt/steamos-session/assets/icons/steamos-session-icon.png
TryExec=/opt/steamos-session/modules/session-normal
Exec=/opt/steamos-session/modules/session-normal
Terminal=false
Categories=Game;
StartupWMClass=session-normal
